- if current_page?(weddings_path)
	:css
		body{background-color:#FFF;padding-top:0;overflow:hidden;}
		#main_container{height:auto}
		#soprime_wedding_container{position:relative;margin-top:60px;}
		#soprime_wedding_container > .overlay{opacity:0}
		#menu_content_container{height:400px;width:900px;position:absolute;top:0;left:150px;padding:25px 0}
		.menu_content_div{border:1px solid #FFF;border-radius:4px;display:inline-block;}
		.our_services{height:370px;width:250px;margin-right:20px;}
		#our_services_container{width:950px;position:absolute;}
		.short_div{height:300px; margin-top:70px;}
		#gallery_container{opacity:0.9;top:-70px;position:absolute;}
	#side_nav
		%ul.unstyled.top_nav_links
			%li.menu-tab.active
				.overlay
				%a{:div_tag=>"#our_services_container"}
					Our service
			%li.menu-tab
				.overlay
				%a{:div_tag=>"#gallery_container"}
					Gallery
			-# %li.menu-tab
			-# 	.overlay
			-# 	%a{:div_tag=>"#testimonials"}
			-# 		Testimonials
			%li.menu-tab
				.overlay
				%a{:div_tag=>"#our_djs"}
					DJ's
			%li.menu-tab
				.overlay
				%a{:div_tag=>"#cost_quality"}
					Cost Vs Quality
			%li.menu-tab
				.overlay
				%a{:div_tag=>"#book_us"}
					Book Us

- else
	%div{:style => "position:relative;"}

		%h1.logo
			SoPrime Entertainment

		#links_header
			%ul.unstyled
				%li 
					%a Dances
				%li
					%a Parties
				%li
					= link_to 'Weddings',  weddings_path
				%li
					= link_to "Clubs", clubs_path