#club_images
	= image_tag("club.jpg")
	= image_tag("club2.jpg")
	%h1{:style => "position:absolute;top:190px;left:250px;color:#FFF"}
		CLUBS
%p.soprime_font{:style => "width:500px;margin:50px auto 0 auto;"}
	SoPrime Entertainment provides djs for bars and nightclubs throughout the chicagoland area. Please call us to book the perfect dj for your venue
= render :partial => "footer"