#about_us
	= image_tag("scratch.jpg", :id => "scratch_image")
	%p.soprime_font
		SoPrime Entertainment provides the best in entertainment for the Chicagoland area. We will make your event a hit with a DJ or Master of Ceremonies supplied with state of the art sound and lighting technology. We pride ourselves on tailoring our services to your event.
		
#contact_information
	%p.soprime_font (630) 441 2506
	%a.email{:href => "mailto:Chris@SoPrimeEntertainment.com"} Chris@SoPrimeEntertainment.com
	%a.email{:href => "mailto:Justin@SoPrimeEntertainment.com"} Justin@SoPrimeEntertainment.com