#about_us
	= image_tag("scratch.jpg", :id => "scratch_image")
	%p.soprime_font
		SoPrime Entertainment provides the best in entertainment for the Chicagoland area. We will make your event a hit with a DJ or Master of Ceremonies supplied with state of the art sound and lighting technology. We pride ourselves on tailoring our services to your event.
		
= render :partial => "footer"