#our_djs.row.hide
	.dj_bio.span3{:style => "background:url('assets/justin.png') no-repeat top left"}
		%h6 Justin Pruim
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.dj_bio.span3{:style => "background:url('assets/chris3.png') no-repeat top right"}
		%h6 Chris Socha
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.dj_bio.span3
		%h6 Justin Pruim
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.