// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body{height:100%;}
body{
	background-color:black;
	height:100%;
}
.border{border:1px solid white;}

#main_container{height:900px}
#main_container > div{
	text-align:center;
}

.logo{
	color:#AB1300;
	font-family: 'Bank Gothic','Arial-Black','Arial Black','Arial-Black','Arial Black',sans-serif;
	font-size: 45px;
}
.page_name > h1{
	color:#FFF;
	font-family: 'Cochin','Times New Roman',serif;
	font-size: 40px;
	font-weight:600;
	margin-bottom:50px;
}
#links_header{padding:20px 0 50px}
#links_header > ul > li{
	display:inline-block;
	padding:0 20px;
}
#links_header > ul > li > a{
	font-size: 22px;
	text-decoration:underline;	
}
#links_header > ul > li > a:hover{
	color:#BEBEBE;
}

/*IMAGE AND ABOUT US*/

#about_us > p{
	text-align:center;
	width:759px;
	margin:0 auto;
}
.soprime_font{
	color: #AB1500;
    font-family: 'Bank Gothic','Arial-Black','Arial Black',sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 31px;
	padding:0 72px;
}
/*END*/

/*Footer*/
#contact_information{
	margin:100px 0;
	position:relative;
}
.footer_font{
	color: #FFFFFF;
    font-family: 'BankGothic-Medium','Bank Gothic','Arial',sans-serif;
    font-size: 18px;
	margin-bottom:20px;
    font-weight: 500;
}
#contact_information > a{
	display:block;
	font-size:20px;
	padding:5px 0;
}
#facebook_logo{
	position:absolute;
	right:100px;
	top:70px;
}
#mywedding_logo{
	position:absolute;
	left:100px;
	top:40px;
}
/*END*/

/*CLUB*/
#club_images{
	position:relative;
}

#club_images > img{
	display:block;
	margin:0 auto;
}
/*END*/

/*SOCIAL LINKS*/
.social_links{
	margin-right:160px;
	position:absolute;
	top:10px;
	right:5px;
	z-index:1000;
}
.social_links > li{
	display:inline-block;
	padding:0 0 0 15px;
}
/*END*/